### How Many Indian MP Accounts Have Been Hacked?

In [1]:
import pandas as pd
import os
import json
import logging
import glob

### Concat HIBP Data

Ignore the empty files. We will impute 0s for those emails.

In [2]:
import glob
import logging
import pandas as pd

# Set up logging
logging.basicConfig(filename='empty_return.log', level=logging.ERROR)

# Get a list of JSON files
json_files = glob.glob('pwned/*.json')

# List to store DataFrames
df_list = []

# Iterate over the JSON files
for file in json_files:
    try:
        df = pd.read_json(file)
        # Append DataFrame to the list
        file_name = file.rsplit('/', 1)[-1].rstrip('.json')
        df['file_name'] = file_name
        df_list.append(df)
    except Exception as e:
        # Log the error
        logging.error(f"Error processing file: {file}. Error message: {str(e)}")
        continue

# Concatenate DataFrames
df_hibp = pd.concat(df_list)

In [3]:
df_hibp.rename(columns={'file_name': 'email'}, inplace = True)
df_hibp

                Name                         email
0                PDL             profhay@gmail.com
1           LinkedIn             profhay@gmail.com
2             Netlog             profhay@gmail.com
3   YouveBeenScraped             profhay@gmail.com
0     OnlinerSpambot       vidyasagar@sansad.nic.i
..               ...                           ...
1           db8151dd  nishikant.dubey.mp@gmail.com
2          IndiaMART  nishikant.dubey.mp@gmail.com
3        Twitter200M  nishikant.dubey.mp@gmail.com
0           db8151dd    kalraj.mishra@sansad.nic.i
0           db8151dd        ks.tanwar@sansad.nic.i

[2117 rows x 2 columns]

In [4]:
df_hibp_sum = df_hibp.groupby('email').size().rename('count', inplace=True).reset_index()
df_hibp_sum

                             email  count
0            38ashokroad@gmail.com      5
1        97gambhirgautam@gmail.com      1
2    KULDEEPSINGHBISHNOI@gmail.com      7
3                             None      8
4           a.hussain@sansad.nic.i      2
..                             ...    ...
926        yashvirsansad@gmail.com      1
927  yashwant.singh19@sansad.nic.i      1
928           ys.avinash@gmail.com      2
929         ysinha2005@hotmail.com      5
930            ysinha@sansad.nic.i      2

[931 rows x 2 columns]

### Get all pols

In [5]:
df_list = []

for filename in os.listdir("../daughters/ls_data/"):
    print(filename)
    with open(os.path.join("../daughters/ls_data/", filename), "r") as f:
            data = json.load(f)
    df = pd.DataFrame(data['membersDtoList'])
    df['ls'] = filename[3:-5]
    df_list.append(df)

df_pols = pd.concat(df_list)
df_pols = df_pols.reset_index()
df_pols.shape

ls_17.json
ls_16.json
ls_13.json
ls_14.json
ls_15.json
ls_12.json

(3196, 34)

### Convert to long form to get each email in a separate row

In [6]:
df_pols = df_pols.explode('email')
df_pols['email'] = df_pols['email'].str.split(r'</br>')
df_pols = df_pols.explode('email')
df_pols

,index,mpsno,initial,firstName,lastName,gender,partyFname,partySname,stateName,constName,...,imageUrl,profileUrl,dob,numberOfSons,numberOfDaughters,qualification,freedom,profession2,categoryCode,ls
0,0,344,Shri,,A. Raja,Male,Dravida Munnetra Kazhagam,DMK,Tamil Nadu ...,Nilgiris,...,https://sansad.in/getFile/mpimage/photo/344.jp...,None,10/05/1963,0.0,1.0,Post Graduate,N,...,(SC),17
0,0,344,Shri,,A. Raja,Male,Dravida Munnetra Kazhagam,DMK,Tamil Nadu ...,Nilgiris,...,https://sansad.in/getFile/mpimage/photo/344.jp...,None,10/05/1963,0.0,1.0,Post Graduate,N,...,(SC),17
1,1,5175,Shri,Narayana Swamy,Abbaiah,Male,Bharatiya Janata Party,BJP,Karnataka ...,Chitradurga,...,https://sansad.in/getFile/mpimage/photo/5175.j...,None,16/05/1957,0.0,3.0,Graduate,N,Social Worker ...,(SC),17
1,1,5175,Shri,Narayana Swamy,Abbaiah,Male,Bharatiya Janata Party,BJP,Karnataka ...,Chitradurga,...,https://sansad.in/getFile/mpimage/photo/5175.j...,None,16/05/1957,0.0,3.0,Graduate,N,Social Worker ...,(SC),17
2,2,2654,Dr.,Farooq,Abdullah,Male,Jammu and Kashmir National Conference,J&KNC,Jammu and Kashmir ...,Srinagar,...,https://sansad.in/getFile/mpimage/photo/2654.j...,None,21/10/1937,1.0,3.0,Professional Graduate,N,...,,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,524,3953,Shri,Sita Ram,Yadav,Male,Rashtriya Janata Dal,RJD,Bihar ...,Sitamarhi ...,...,https://sansad.in/getFile/mpimage/photo/3953.j...,None,05/01/1946,3.0,2.0,Graduate,N,"Advocate, Social Worker ...",,12
3192,525,3955,Shri,Surendra Prasad,Yadav,Male,Rashtriya Janata Dal,RJD,Bihar ...,Jhanjharpur ...,...,https://sansad.in/getFile/writereaddata/biodat...,https://lssapi.nic.in/MemberProfile/biodata_1_...,None,NaN,NaN,None,None,...,None,12
3193,526,4002,Dr.,Surendra Prasad,Yadav,Male,Rashtriya Janata Dal,RJD,Bihar ...,Jahanabad ...,...,https://sansad.in/getFile/writereaddata/biodat...,https://lssapi.nic.in/MemberProfile/biodata_1_...,None,NaN,NaN,None,None,...,None,12
3194,527,533,Shri,Kinjarapu,Yerrannaidu,Male,Telugu Desam Party,TDP,Andhra Pradesh ...,Srikakulam ...,...,https://sansad.in/getFile/mpimage/photo/533.jp...,None,23/02/1957,1.0,1.0,Graduate,N,Advocate ...,,12
3195,528,534,Shri,Mahboob,Zahedi,Male,Communist Party of India (Marxist),CPI(M),West Bengal ...,Katwa ...,...,https://sansad.in/getFile/mpimage/photo/534.jp...,None,02/02/1929,2.0,0.0,Matric,N,Agriculturist ...,,12

In [7]:
df_pols['email'] = df_pols['email'].str.strip()
df_pols['email_fix'] = df_pols['email'].str.replace('\[at\]', '@', regex=True).str.replace('\[dot\]', '.', regex=True)
df_pols['email_fix'] = df_pols['email_fix'].str.extract(r'([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})')
df_pols['email_fix'].nunique()

2023

### Remove rows with Nan emails (assumptions ~ missing at random or don't use emails)

In [8]:
df_pols = df_pols[~df_pols['email_fix'].isna()]
df_pols.shape

(3554, 35)

### Join HIBP to pol data

In [9]:
df_joined = df_pols.merge(df_hibp, left_on='email_fix', right_on = 'email', how='left')
df_joined.shape

(5052, 37)

### Join HIBP metadata on breaches to above

In [10]:
breaches = pd.read_json('breaches.json')
fin_df = pd.merge(df_joined, breaches, on='Name', how = 'left')
fin_df.shape

(5052, 52)

### Distribution of the Number of Breaches by Email ID

In [11]:
fin_df.groupby('email_fix')['Name'].nunique().describe()

count    2023.000000
mean        0.639150
std         1.836354
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        20.000000
Name: Name, dtype: float64

### Distribution of Number of Breaches by Politician

In [12]:
# Total Number of Politicians
fin_df.groupby(['ls', 'index']).size().shape

(2315,)

In [13]:
fin_df.groupby(['ls', 'index'])['Name'].nunique().reset_index()['Name'].describe()

count    2315.000000
mean        0.957235
std         2.236529
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max        20.000000
Name: Name, dtype: float64

In [14]:
(fin_df.groupby(['ls', 'index'])['Name'].nunique().reset_index()['Name'] > 0).mean()

0.3105831533477322

#### Serious Dataclasses Breached 

Either data that will help you hack your other accounts, e.g., Mother's Maiden Name, or sensitive personal information

In [20]:
serious_dataclasses = ["Audio recordings",
"Auth tokens",
"Bank account numbers",
"Biometric data",
"Browsing histories",
"Chat logs",
"Credit card CVV",
"Credit cards",
"Credit status information",
"Drinking habits",
"Driver's licenses",
"Drug habits",
"Email messages",
"Encrypted keys",
"Government issued IDs",
"Health insurance information",
"Historical passwords",
"HIV statuses",
"Login histories",
"MAC addresses",
"Mothers maiden names",
"Nationalities",
"Partial credit card data",
"Partial dates of birth",
"Passport numbers",
"Password hints",
"Passwords",
"Personal health data",
"Photos",
"PINs",
"Places of birth",
"Private messages",
"Security questions and answers",
"Sexual fetishes",
"Sexual orientations",
"SMS messages",
"Social security numbers",
"Taxation records"]

In [21]:
fin_df['serious'] = fin_df['DataClasses']\
                  .apply(lambda x: 
                        any(string in x for string in serious_dataclasses) 
                         if isinstance(x, list) else False)

In [22]:
fin_df['serious_n'] = fin_df['serious']*(~fin_df['Name'].isna())

In [23]:
fin_df.groupby(['ls', 'index'])['serious_n'].sum().reset_index()['serious_n'].describe()

count    2315.000000
mean        0.514903
std         1.379288
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        14.000000
Name: serious_n, dtype: float64

In [24]:
(fin_df.groupby(['ls', 'index'])['serious_n'].sum().reset_index()['serious_n'] > 0).mean()

0.2203023758099352